<%  blogs.forEach(function(blog){ %>

    <a id="blog-title" href="/blogs/<%=blog.title%>">
    <div class="blog1">
        <h1><%=blog.title%></h1>
        <% if ((new Date().toString().substring(0,16))==blog._id.getTimestamp().toString().substring(0,16)){%>
            <span class="date">
                <em><%=blog._id.getTimestamp().toString().substring(16,21)%> GMT</em>
            </span><br>
        <%} else {%>
            <span class="date">
                <em>Last edited <%=blog._id.getTimestamp().toString().substring(0,3)%>, <%=blog._id.getTimestamp().toString().substring(4,10)%></em>
            </span><br>
        <%}%>
        <a id="blogger" href="/profile/<%=blog.penName%>"><%=blog.penName%></a>
        <br><br>
        <p class="blogg1">
            <% if (blog.body.length<400){ %>
                <%=blog.body%>
            <%} else {%>
                <%=blog.body.substring(0, 400) + " ..."%>
                <!-- <a href="/blogs/<%=blog.title%>">read full blog</a> -->
            <%}%>
        </p>
    </div>
    </a><br><br>
<% }) %>