

<%- include("partials/header"); -%>


<link rel="stylesheet" href="/css/edit.css">
<body>
<div class="prof">
<div class="wrap1">
<h1>Edit Profile</h1>
<form action="/users/editProfile" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name: <%= name %>" />
    <input type="text" name="age" placeholder="Age: <%= age %>" />
    <input class="emailin" type="text" list="genders" placeholder="SEX: <%=gender%>">
    <datalist id="genders">
        <option value="MALE">
        <option value="FEMALE">
        <option value="OTHER">
    </datalist>
    <!-- <input type="password" name="newPassword" placeholder="Enter New Password" />
    <input type="password" name="confirmNewPassword" placeholder="Confirm Password" /> -->
    <input type="file" name="avatar"/>
    <br>
    <button>Apply Changes</button>
</form>
</div>
</div>
</body>
<%- include("partials/footer1"); -%>