
<%- include("partials/header1"); -%>

<link rel="stylesheet" href="/css/home.css">
</head>



<body>
  <div class="homey">
  <div id="wrapper">

      <!-- Sidebar Nav-->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-nav"><a href="/compose" class="pub-btn"> Create A New Blog</a> </li>
          <li class="sidebar-nav"><a href="/users/<%=penName%>/profile"> Dashboard</a> </li>
          <li class="sidebar-nav"><a href="/community"> Community</a> </li>
          <li class="sidebar-nav"><a href="#">History</a> </li>
          <li class="sidebar-nav"><a href="#">Follow US</a> </li>
        </ul>

      </div>

      <!--main page content-->


  <div id="page-content-wrapper">

      <!-- NavBar -->
    <div class="cont">
      <nav class="navbar navbar-default">
        <div class="cont">
          <div class="navbar-header">
            <p class="navbar-brand"><button id="menu-toggle"><i class="fas fa-hamburger"></i></button></p>
            <p class="navbar-brand"><a href="/">B L O G B O W E R</a></p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="home" class="nav-item"><a class="nav-link" href="/users/<%=penName%>/profile">HOME</a></li>
              <li id="about" class="nav-item"><a  class="nav-link" href="/#follow">ABOUT US</a></li>
              <li id="compose" class="nav-item"><a class="nav-link" href="/compose">CREATE</a></li>
              <li class="nav-item"><a id="menu-toggle-rt" class="nav-link" href="#"><i class="fa fa-fw fa-user"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  

  <!--Content-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="blogss">
            <h1>Home</h1>
            <h2> <%= title %> </h2>
        
            <%- include("partials/dispblogs"); -%>
          
          </div>
        </div>
      </div>
    </div>
  </div>


    <%- include("partials/sidebar"); -%>

    </div>
</div>

<!-- Menu Toggle JS-->
<script src="/js/sidebar.js"></script>
<%- include("partials/footer1"); -%>







